@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
Hallo perubahan pertamaku
ini dirubah dari cabang 
<img src="https://missu.undiksha.ac.id/assets/img/17.png" style="width:30%">
</div>
